#container {
    margin: 0 auto;
    width: 1024px;
    min-height: 500px;
    border-radius: 5px;
    background: rgb(179,220,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,220,237,1)), color-stop(50%,rgba(41,184,229,1)), color-stop(100%,rgba(188,224,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}

#container-body {
    padding: 10px;
}

li#icon {
    margin: 7px;
}

    li#icon a {
        padding: 0 10px;
    }

#banner img {
    border-radius: 10px 0 0 10px;
}

.hero-unit {
    margin-top: 60px;
}

.sign-in {
    padding: 40px;
}

    .sign-in .inner-left {
        float: left;
        padding: 10px 30px 10px 10px;
        margin: 0px 10px 0px 0px;
        border-right: 1px solid grey;
        min-width: 250px;
        max-width: 450px;
    }

    .sign-in .inner-right a {
        margin: 100px 0px 0px 40px;
    }

    .sign-in .form-signin-heading {
        background: #2b3590;
        color: #eaeaea;
        font-family: Museo-300,garamond,serif;
        font-weight: normal;
        font-size: 1.8em;
        font-weight: normal;
        margin: 0px 0px 20px 0px;
        padding: 15px 25px;
        text-shadow: 1px 1px #000;
    }

.thumbnail img {
    height: 159px;
    width: 254px;
}

    .thumbnail img#create-new {
        width: 200px;
        height: 200px;
    }

ul.boards li:nth-child(4n+5), ul.tacks li:nth-child(4n+5) {
    margin-left: 0px;
}

ul.boards > li, ul.tacks > li {
    margin-bottom: 30px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, .4);
}

    ul.boards > li:hover, ul.tacks > li:hover {
        margin-bottom: 30px;
        box-shadow: 0 0 6px 4px cornflowerblue;
    }

ul.tacks > li {
    margin-bottom: 30px;
    box-shadow: 0 0 6px 4px rgb(0, 122, 255);
}

.board-title, .tack-title {
    text-align: center;
    font-size: 27px;
    margin: 6px 0;
    height: 20px;
    text-transform: capitalize;
}

img.media-object {
    width: 100px;
    height: 100px;
}

.alert-error {
    display: block;
}

.tacks textarea {
    width: 220px;
}

.tacks .owner {
    font-weight: bold;
    font-style: italic;
}

.tacks .thumbnail {
    background: rgb(167,207,223); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
    border-radius: 0;
    color: white !important;
}

.tacks .caption, .tacks .tack-title {
    color: rgb(247, 247, 247) !important;
    text-shadow: 0px 1px 0px black;
}

.cover-photo{
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 10px 35px black;
}

.cover-photo img{
    height: 100%;
    width: 100%;
}
