﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ImageCSharp.aspx.cs" Inherits="ImageCSharp" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
